<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "leaf.png" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <%# if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Home", root_path, class: "nav-link", style: "color: #4A7C27" %>
          </li>
          <% if user_signed_in? %>
          <li class="nav-item">

            <%= link_to "Find a Plant Match", new_chat_path, class: "nav-link", style: "color: #4A7C27" %>
          </li>
          <li class="nav-item pe-2">
            <%= link_to "Plant Catalog", plants_path, class: "nav-link", style: "color: #4A7C27" %>
             <% else %>
             <%= link_to "Find a Plant Match", new_user_registration_path, class: "nav-link", style: "color: #4A7C27" %>
          <%# Button for guests %>
          <%= link_to "Plant Catalog", new_user_registration_path, class: "nav-link", style: "color: #4A7C27" %>
        <% end %>
          </li>
          <li class="nav-item dropdown">
            <%= image_tag "profile.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <% if user_signed_in? %>
              <%= link_to "My Favorites", favorites_path, class: "dropdown-item", style: "color: #4A7C27" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item", style: "color: #4A7C27" %>
              <% else %>
              <%= link_to "Login", new_user_session_path, class: "dropdown-item", style: "color: #4A7C27" %>
              <% end %>
            </div>
          </li>
        <%# else %>
          <!--li class="nav-item"-->
            <%#= link_to "Login", new_user_session_path, class: "nav-link" %>
          <!--/li-->
        <%# end %>
      </ul>
    </div>
  </div>
</div>
