<%= link_to "← Back to chats", chats_path %>
<h1>Lets find your for next plant!</h1>
<h2 id="chat_title"></h2>

<%= simple_form_for [@chat, @message] do |f| %>
   <%= f.input :content,
    collection: ["Indoors", "Outdoors", "Both"],
    as: :radio_buttons %>
  <%= f.button :submit, "Find My Plant", class: "btn btn-primary mb-5 "%>
<% end %>

<h3>Suggested Plants</h3>

  <% @chat.messages.each do |message| %>
    <p><%= message.content %></p>
  <% end %>

<div id="messages", class="mt-5">
  <p>Have any more questions?</p>
  <% @chat.messages.each do |message| %>
    <% if message.role == "user" %>
      <div class="d-flex justify-content-end mb-2">
        <div class="bg-white px-3 py-2 rounded-pill">
          <%= raw(render_markdown(message.content)) %>
        </div>
      </div>
    <% elsif message.role == "assistant" %>
      <div class="d-flex justify-content-start mb-4">
        <div class="px-3 py-2">
          <%= raw(render_markdown(message.content)) %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<div id="new_message_container">
  <%= simple_form_for [@chat, @message] do |f| %>
    <%= f.input :content,label: false, required: true, placeholder: "Type your answer..." %>
    <%= f.button :submit, "Send", class: "btn btn-primary" %>
  <% end %>
</div>
