
<%= link_to "← Back to chats", chats_path %>
<h2>Let's find your perfect plant 🌿</h2>

<div id="messages"
     data-controller="chat"
     data-chat-target="messages">
  <%= render @chat.messages %>
</div>

<div id="new_message_container">
  <%= simple_form_for [@chat, @message] do |f| %>
    <%= f.input :content, label: false, required: true, placeholder: "Type your answer..." %>
    <%= f.button :submit, "Send", class: "btn btn-primary" %>
  <% end %>
</div>
